<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/bisimulation-gre/src/dlgre/Main.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dlgre.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="positive modelos/modeloFig1Gre7.xml modelos/prob_uso_ord/P_uso_ord-1.txt modelos/prob_disc/prob_disc-1.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="bisimulation-gre"/>
</launchConfiguration>
