<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/bisimulation-gre/src/dlgre/Main.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dlgre.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="positive /home/romina/sasha/ORRE_model.xml /home/romina/sasha/conf2.txt /home/romina/sasha/prob_disc.txt all 5 /home/romina/sasha/prueba2/"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="bisimulation-gre"/>
</launchConfiguration>
