<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/bisimulation-gre/src/dlgre/Main.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dlgre.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="positive modelos/modeloFig1Gre7-2.xml /home/romina/GenLenNat/bisimulation-gre/modelos/UsomodeloFig1Gre7-2.txt /home/romina/GenLenNat/bisimulation-gre/GRE3D7-1.0/corpusDividido/nuevaDiv/P_disc/P_disc-1.txt s1 140 resFig1-GRE7-2-NuevaProbUso/"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="bisimulation-gre"/>
</launchConfiguration>
